// :root {
//   --el-color-primary: red;
// }
* {
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
  "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

a {
  color: var(--el-color-primary);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--el-color-primary-light-9);
  color: var(--el-color-primary);
}

textarea {
  overflow-x: hidden;
  word-break: break-all;
  overflow-y: auto;
}

input[type=file]::file-selector-button {
  background-color: var(--el-button-bg-color);
  border: var(--el-border);
  color: var(--el-text-color-regular);
}

.page {
  background-color: #fefefe;
  padding: 20px;
}

.el-main {
  padding: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s
}

.fade-enter,
.fade-leave-to {
  opacity: 0
}

.container {


}
$gutter: 20px;

.form-gutter {
  margin-top: $gutter;
}

