@import "./common.scss";


body {
  background-color: var(--el-bg-color);
}

textarea {
  overflow-x: hidden;
  word-break: break-all;
  overflow-y: auto;
}

input[type=file]::file-selector-button {
  background-color: var(--el-button-bg-color);
  border: var(--el-border);
  color: var(--el-text-color-regular);
}

.page {
  background-color: var(--el-bg-color-page);
  padding: 20px;
}

.el-main {
  padding: 0;
}

.el-container{
  &>.el-scrollbar {
    &.full-page {
      &>.el-scrollbar__wrap {
        height: 100%;
        &>.el-scrollbar__view {
          height: 100%;
          .page {
            height: 100%;
          }
        }
      }
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s
}

.fade-enter,
.fade-leave-to {
  opacity: 0
}

.container {


}
$gutter: 20px;

.form-gutter {
  margin-top: $gutter;
}
